<div class="mainimg">
    <img src="https://media.istockphoto.com/id/1443234555/vector/hackathon-doodle-hand-drawing-business-programmers-team-develop-software.jpg?s=612x612&w=0&k=20&c=-4BAQmS6DLYtYB56XwuYlO0PRtBi6L27riZwZbMPp2A=">
</div><br>
<div class="mainheading">
    <p>Don't be afraid to fail.</p>
</div>
<div class="maincontent">
    <ul>
        <li>A hackathon is an event where people, typically programmers, designers, and other technology enthusiasts, come together to collaboratively work on projects in a condensed timeframe, usually ranging from a few hours to several days. These events are often characterized by intense brainstorming, coding, designing, and problem-solving sessions, all aimed at developing innovative solutions to specific challenges or problems.</li><br>
        
        
    </ul>

</div>
<div class="endbuttons">
    <nav><button (click)="register()">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nav>
</div><br>
