<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/bd/6a/46/agia-galini-s-treasure.jpg?w=1200&h=-1&s=1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.dribbble.com/users/1968799/screenshots/5540255/media/3ff128af22d2ffe2d6f8461125350756.jpg?resize=400x0" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.finos.org/hs-fs/hubfs/OSFF%202023%20(Open%20Source%20in%20Finance%20Forum)/OSFF%202023%20Project%20Expo.png?width=449&height=253&name=OSFF%202023%20Project%20Expo.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>