.container {
    display: flex;
    height: 100vh;
  }
  .left-side, .right-side {
    flex: 1;
    height: 100%;
  }
  .left-side {
    background-color: lightgrey;
  }
  .right-side {
    background-color: white;
  }

  .formcontainer{
    padding-left: 30%;
    padding-top: 30%;
  }
  .submitbtn{
        padding-left: 100px;
  }
  
  a{
    font-weight: 500;
    color: green;
  }

  input:focus {
    border-color: black;
  }