<h2 class="heading">Contacts</h2>

<div class="cardbox">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">tresurehunt</h5>
      <h6 class="card-subtitle mb-2 text-muted">coordinaters</h6>
      <h6 class="card-subtitle mb-2 text-muted">Likhita</h6>
      <p class="card-text">Phone number: 8500118827</p>
     
    </div>
  </div>

  
</div>

<div class="cardbox">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">tresurehunt</h5>
          <h6 class="card-subtitle mb-2 text-muted">coordinaters</h6>
          <h6 class="card-subtitle mb-2 text-muted">Likhita</h6>
          <p class="card-text">Phone number: 8500118827</p>
         
        </div>
      </div>
    </div>

