.heading{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 10px;
      margin-bottom: 20px;
}

.card {
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    
   
    
    
}

.card-body {
    padding: 40px;
    
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    margin-bottom: 0.25rem;
}

.card-text {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #333;
}

.card-subtitle + .card-subtitle {
    margin-top: -0.25rem; /* Adjust spacing between multiple subtitles */
}

.cardbox{
    padding-left: 100px;
}

