<div class="home">
    <div class="slideshow">
        <app-slideshow></app-slideshow>
    </div><br><br><br>
    
    <div class="mainheading">
        <p>Dive Into Tech Brilliance!!!</p>
    </div><br>
    <div class="maincontent">
        <p>Welcome to the Computer Science Department Festival, a celebration of innovation, creativity, and excellence in the world of technology. Join us as we showcase the remarkable achievements of our students, faculty, and alumni, and explore the cutting-edge developments shaping the future of computing.</p>
        <br>
        <p class="subheading">
           <b> Event Highlights:</b>
        </p>
        <ul>
            <li><b>Tech Expo:</b> Step into the world of tomorrow at our Tech Expo, where students and faculty will demonstrate their latest projects and research endeavors. From artificial intelligence and machine learning to cybersecurity and software development, discover the breakthroughs driving technological advancement.</li><br>
            <li><b>Hackathon Competition:</b> Test your coding skills and problem-solving abilities in our Hackathon Competition. Teams will have the opportunity to tackle real-world challenges and develop innovative solutions under pressure. Prizes will be awarded to the most creative and effective projects.</li><br>
            <li><b>Guest Lectures:</b> Gain insights from industry experts and thought leaders in our series of guest lectures. Explore emerging trends, best practices, and career opportunities in various fields of computer science, and engage in stimulating discussions with renowned professionals.</li><br>
            <li><b>Panel Discussions: </b>Participate in thought-provoking panel discussions on topics ranging from the ethics of artificial intelligence to the future of cybersecurity. Hear from experts in academia, industry, and government as they share their perspectives and insights on critical issues shaping the digital landscape.</li><br>
            <li><b>Student Showcase:</b>Celebrate the talents and achievements of our students in the Student Showcase. From innovative projects and research papers to entrepreneurial ventures and artistic creations, witness the incredible contributions of our future leaders in technology.</li>
            
        </ul>
        <div class="endcontent">
            <p>Join us for an inspiring and enriching experience at the Computer Science Department Festival. Whether you're a student, faculty member, industry professional, or technology enthusiast, there's something for everyone to enjoy and learn. Together, let's celebrate excellence and embrace the endless possibilities of computer science.</p><br><br>
        </div>
    </div>

    

</div>
